@(title: String)
@call = {<script type="text/javascript">linechart("#chart")</script>
}

@header(title, List(css.linechart()), List(js.linechart(), call)) {
  <h1>time series analysis</h1>

<form method="get" action="" id="form">
  <div id="ignoreHandleContainer" style="width: 350px;">
      <div class="form-group" style="width: 350px">
        <label for="ignoreHandle">Ignore a handle</label>
        <input type="text" class="form-control" name="ignoreHandle" id="ignoreHandle"/>
      </div>
    </div>
      <div id="handlesToConsiderContainer" style="width: 350px;">
      <div class="form-group">
          <label for="considerHandle">Handles to consider</label>
          <input type="text" class="form-control" name="handlesToConsider" id="considerHandle"/>
      </div>
    </div>
    <select class="form-control" name="time">
      <option value="MONTH">Month</option>
      <option value="WEEK">Week</option>
      <option value="DAY">Day</option>
    </select>
      <div class="form-group">
          <label for="startDate">Start date (MM/DD/YYYY)</label>
          <input type="text" class="form-control" name="startDate" id="startDate"/>
      </div>
    <input type="submit" value="Select" class="btn btn-default" />
  <div id="chart"></div>

}
